{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header>
    <div class="nav-left">
    <a href="{% url 'post_list' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
    </div>
    <div class="nav-right">
        <a href="{% url 'post_create' %}">New post</a>
    </div>
</header>

{% block content %}
{% endblock content %}
</body>
</html>