{% extends 'blogs/base.html' %}

{% block content %}
<h1>Blog posts</h1>
    {% for post in all_posts %}
    <div class="card">
        <div class="card-header">
            <span class="font-wight-bold">{{ post.title }}</span>
            <span class="text-muted">by {{ post.author }} | {{ post.date}}</span>
        </div>
        <div class="card-body">
            {{ post.text }}
            <a href="{% url 'post_edit' post.pk %}">Edit</a> | <a href="{% url 'post_delete' post.pk %}">Delete</a>
        </div>
        <div class="card-footer text-center text-muted">
             {% for comment in post.comments.all %}
            <p>
                <span class="font-weight-bold">
                    {{ comment.author }} &middot;
                </span>
                {{ comment.comment }}
            </p>
             {% endfor%}
        </div>
    </div>
<br>
{% endfor %}
{% endblock content %}

